body{
    margin: 20px;
    padding: 15px;
}
.main{
    display: flex;
    /* justify-content: center; */
    height: fit-content;
}

.in{
    margin: 20px;
    padding: 15px;
    width: 45%;
}

.box{
    border: 2px solid black;
    margin: 15px;
    padding: 10px;
}

.img-style{
    width: 120px;

}